# ignore all directories that start with .
**/.*/

# ignore conventionally-named build directories
**/build*/
**/*build/
# and some other build directories
**/cmake-build-*/

# ignore conventionally-named Python virtual env directories
# (this is only necessary before Python 3.13)
**/venv*/
**/*venv/
# and __pycache__ directories
**/__pycache__/
