# This file is deprecated: current practice is to use uv.
# However it is provided for backward compatibility.
# This is a mirror of the current provisions of `uv sync`.
#
allpairspy==2.5.1
approval-utilities==19.1.1
approvaltests==19.1.1
ast-serialize==0.5.0
beautifulsoup4==4.15.0
black==26.5.1
certifi==2026.7.22
charset-normalizer==3.5.1
clang-format==22.1.5
click==8.4.1
cmakelang==0.6.13
empty-files==0.0.9
execnet==2.1.2
hypothesis==6.155.2
idna==3.19
iniconfig==2.3.0
librt==0.11.0
mock==5.2.0
mypy==2.1.0
mypy-extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
psutil==7.2.2
pygments==2.20.0
pyperclip==1.11.0
pytest==9.0.3
pytest-approvaltests==0.2.4
pytest-xdist==3.8.0
pytokens==0.4.1
pyyaml==6.0.3
requests==2.34.2
ruff==0.15.17
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.9.2
testfixtures==11.0.0
typing-extensions==4.15.0
urllib3==2.7.0
